{% extends "base.html" %}
{% load static %}
{% block title %}Post Table{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <div id="react_root"></div>
        </div>
    </div>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    {% comment %}
     When passing a variable from Django to JavaScript, you need to use
     double curly brackets and the escapejs filter. The json_script filter is
     used when you are passing a dictionary, and post_list_url is not a
     dictionary; it is a string.
    {% endcomment %}
    <script>
        const postListUrl = '{{ post_list_url|escapejs }}'
    </script>
    {% comment %}
     {% load static %} above enables static with be used in the below script.
     There the use of static is prepend blog/static/ to blog/blog.js
     which causes src to be set to blog/static/blog/blog.js
    {% comment %}
    <script type="text/babel" src="{% static "blog/blog.js" %}"></script>
    
{% endblock %}
