{% extends "base.html" %}
{% load static %}
{% block title %}Post Table{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <div id="react_root"></div>
        </div>
    </div>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    {% comment %}
     When passing a variable from Django to JavaScript, you need to use
     double curly brackets and the escapejs filter. The json_script filter is
     used when you are passing a dictionary, and post_list_url is not a
     dictionary; it is a string.
    {% endcomment %}
    <script>
        const postListUrl = '{{ post_list_url|escapejs }}'
    </script>
    {% comment %}
     In Django, STATIC_URL = '/static/' is a setting that defines the base URL for 
     serving static files like CSS, JavaScript, and images. 
     In blango/settings.py we indeed see STATIC_URL = '/static/'
     {% load static %} above causes the value for STATIC_URL to be loaded.
     and stored in static. We see that static is used in the below script.
     There the application of static is to prepend /static/ to blog/blog.js
     which causes src to be set to /static/blog/blog.js.  Django knows that it
     then needs to prepend blog/ so that src becomes blog/static/blog/blog.js
    {% comment %}
    <script type="text/babel" src="{% static "blog/blog.js" %}"></script>
    
{% endblock %}
